body {
    background: linear-gradient(to bottom, #ff0000, #0000ff);
    background-attachment: fixed;
    background-size: cover;
}

.todo-container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 5rem;
}

button{
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button{
    background-color: hsl(123, 93%, 46%);
}

.add-button:hover{
    background-color: hsl(123, 93%, 36%);
} 

.delete-button{
    background-color: hsl(0, 93%, 46%);
}

.delete-button:hover{
    background-color: hsl(0, 93%, 36%);
}

.move-button{
    background-color: hsl(79, 45%, 50%);
}

.move-button:hover{
    background-color: hsl(79, 45%, 40%);
}

input[type="text"]{
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid hsla(0, 6%, 56%);
    color: hsla(0,0,0,0.5);
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
    border: 3px solid hsla(0,0,0,0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;
}

.delete-button, .move-button{
    padding: 8px,12px;
    font-size: 1.5rem;
    margin-left: 10px;
}
